<div class="container">
  <div class="row " >
    <div class="col-md-6-offset-md-3 mt-3 d-flex justify-content-center" >
      <form [formGroup] ='validateForm' (ngSubmit)="submitForm()">
        <div class="form-group mb-4">
          <h2>Registration Form</h2>
        </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="FirstName">First Name</label>
          <input  class="form-control" type="text" id="FirstName" formControlName="FirstName"  [ngClass]="{'is-invalid' : validateForm.get('FirstName')!.invalid && (validateForm.get('FirstName')!.dirty || validateForm.get('FirstName')!.touched)}">
            <div *ngIf="validateForm.get('FirstName')!.invalid && (validateForm.get('FirstName')!.dirty || validateForm.get('FirstName')!.touched)">
              <div *ngIf="validateForm.get('FirstName')!.hasError('required')" class="text-danger">First Name is required.</div>
              <div *ngIf="validateForm.get('FirstName')!.hasError('minlength')" class="text-danger">Last Name must be at least {{ validateForm.get('FirstName')!.getError('minlength').requiredLength }} characters.</div>
              <div *ngIf="validateForm.get('FirstName')!.hasError('maxlength')" class="text-danger">First Name cannot exceed {{ validateForm.get('FirstName')!.getError('maxlength').requiredLength }} characters.</div>
              <div *ngIf="validateForm.get('FirstName')!.hasError('forbiddenCharacters')" class="text-danger">Name cannot contain special characters or numbers.</div>
            </div>
         </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="LastName">Last Name:</label>
          <input class="form-control" type="text" id="LastName" formControlName="LastName" [ngClass]="{'is-invalid' : validateForm.get('LastName')!.invalid && (validateForm.get('LastName')!.dirty || validateForm.get('LastName')!.touched)}">
            <div *ngIf="validateForm.get('LastName')!.invalid && (validateForm.get('LastName')!.dirty || validateForm.get('LastName')!.touched)">
            <div *ngIf="validateForm.get('LastName')!.hasError('required')" class="text-danger">Last Name is required.</div>
            <div *ngIf="validateForm.get('LastName')!.hasError('minlength')" class="text-danger">Last Name must be at least {{ validateForm.get('LastName')!.getError('minlength').requiredLength }} characters.</div>
            <div *ngIf="validateForm.get('LastName')!.hasError('maxlength')" class="text-danger">First Name cannot exceed {{ validateForm.get('LastName')!.getError('maxlength').requiredLength }} characters.</div>
            <div *ngIf="validateForm.get('LastName')!.hasError('forbiddenCharacters')" class="text-danger">Name cannot contain special characters or numbers.</div>
            </div>
        </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" formControlName="email" [ngClass]="{'is-invalid' : validateForm.get('email')!.invalid && (validateForm.get('email')!.dirty || validateForm.get('email')!.touched)}">
            <div *ngIf="validateForm.get('email')!.invalid && (validateForm.get('email')!.dirty || validateForm.get('email')!.touched)">
            <div *ngIf="validateForm.get('email')!.hasError('required')" class="text-danger">Email is required.</div>
            <div *ngIf="validateForm.get('email')!.hasError('email')">Invalid email format.</div>
            </div>
        </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password" formControlName="password" [ngClass]="{'is-invalid' : validateForm.get('password')!.invalid && (validateForm.get('password')!.dirty || validateForm.get('password')!.touched)}">
            <div *ngIf="validateForm.get('password')!.invalid && (validateForm.get('password')!.dirty || validateForm.get('password')!.touched)">
            <div *ngIf="validateForm.get('password')!.hasError('required')" class="text-danger">Password is required.</div>
            <div *ngIf="validateForm.get('password')!.hasError('minlength')" class="text-danger">Password must be at least {{ validateForm.get('password')!.getError('minlength').requiredLength }} characters.</div>
            </div>
        </div>

      <div  class="form-group " >
        <button type="submit" class="btn btn-primary" style="width: 150px;" [disabled]="validateForm.invalid" >Submit</button>
    </div>
</form>
</div>
</div>
</div>
